{% extends "base.html" %} {% block title %}{{ category_name }} Emails{% endblock
%} {% block content %}
<div class="container mt-5">
  <h1>{{ category_name }} Emails</h1>
  <div class="email-list-container">
    {% for email in emails %}
    <div class="email-item">
      <h5>{{ email.subject }}</h5>
      <p>{{ email.summary }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  document
    .querySelector(".folder-toggle")
    .addEventListener("click", function () {
      const folderContent = this.querySelector(".folder-content");
      folderContent.style.display =
        folderContent.style.display === "block" ? "none" : "block";
    });
</script>
{% endblock %}
